
<header class="header">

    <div class="header__contenedor">

        @if(showNotify){

            <div class="notify" [class]="{'hiden':closed} "  >
                <button (click)="closeNotify()" class="btn-close" >X</button>
                <p class="notify__text">
                    Has sido el afortunado de obtener un descuento del {{ (usr.descuento!.descuento)*100 }}% en nuestra tienda.
                </p>
            </div>
        }            
        <!-- barra -->
        <app-nav-bar></app-nav-bar>
        
        <!-- modelo -->
        <div class="modelo">
            <h1 class="modelo__nombre">SoundsInstruments</h1>
            <p class="modelo__descripcion">
                En SoundsInstrument, encontrarás una amplia selección de instrumentos musicales de alta calidad, desde guitarras y pianos hasta baterías y equipos de audio profesional. Ya seas principiante o músico experimentado, tenemos lo que necesitas para crear y disfrutar de la mejor música. ¡Compra fácil, seguro y con envíos a todo México!
            </p>
            <p class="modelo__precio">
                ¡Precios Accesibles!
            </p>

            <a class="modelo__enlace" routerLink="/clientes/instrumento">Ver Producto</a>
        </div>

    </div>
    <!-- modelo-img -->
    <img class="header__producto" src="assets/header_guitarra.png" alt="imagen gitarra">
</header>
