<div class="contenedor filtros">
    <div class="filtros__encabezado">
        <h2 class="filtros__title" >Categorias populares</h2>
        <a class="btn-Original" routerLink="/clientes/instrumentos"  >Ver más</a>
    </div>
    
    <div class="listado-modelos ">
        
        <div class="modelo modelo-w" (click)="filtrar(categorias[0])" >
            <h3>{{categorias[0]}}</h3>
        </div>

        <div class="modelo modelo-x" (click)="filtrar(categorias[1])" >
            <h3>{{categorias[1]}}</h3>
        </div>

        <div class="modelo modelo-y" (click)="filtrar(categorias[2])" >
            <h3>{{categorias[2]}}</h3>
        </div>
        
        <div class="modelo modelo-z" (click)="filtrar(categorias[3])" >
            <h3>{{categorias[3]}}</h3>
        </div>
    </div>
</div>