.footer {
    background-color: transparent;
    padding: 5rem 0;

}

@media (min-width:768px) {
    .footer__contenido {
        display: flex;
        justify-content: space-between;
    }
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px) {
    .footer__nav {
        flex-direction: row;
        gap: 2rem;
    }
}

.footer__enlace {
    font-size: 2.8rem;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
}

.footer__enlace:hover {
    color: var(--primary);
}

.footer__copyright {
    font-size: 2.8rem;
    color: var(--blanco);
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.footer__social-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer__social-link:hover {
    transform: scale(1.1);
}

.footer__social-icon {
    width: 4rem;
    height: 4rem;
}

@media (min-width: 768px) {
    .footer__social-icon {
        width: 5rem;
        height: 5rem;
    }
}