<section class="hero">
    <div class="hero__contenedor hero__grid">
        <div class="hero__contenido">
            <h2 class="hero__heading">Sobre Nosotros</h2>
            <p class="hero__texto">
                Conoce la ubicación de nuestra tienda, 
                aqui tendras atención personalizada.
            </p>
        </div>
        <div class="hero__enlace-cont">
            <a class="hero__enlace" routerLink="/clientes/nosotros">Más Información</a>
        </div>
    </div>
</section>