<div class="breadcrumb-container" *ngIf="breadcrumbs.length > 0">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb-list">
      <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let last = last">
        <a 
          *ngIf="!last; else lastItem"
          class="breadcrumb-link" 
          [routerLink]="breadcrumb.url"
        >
          {{ breadcrumb.label }}
        </a>
        <ng-template #lastItem>
          <span class="breadcrumb-current">
            {{ breadcrumb.label }}
          </span>
        </ng-template>
        <span *ngIf="!last" class="breadcrumb-separator">/</span>
      </li>
    </ol>
  </nav>
</div>