        .container {
            display: grid;
            grid-template-rows: 1fr;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 20px auto;
            background-color: var(--blanco);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 1rem;
            gap: 2rem;

        }

        @media (min-width:768px) {
            .container {
                grid-template-columns: 2fr 2fr 1fr;

            }
        }

        @media (min-width:1280px) {
            .container {
                grid-template-columns: 30rem 4fr 2fr;

            }
        }

        .image-section {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .product-images {
            display: flex;
            flex-direction: column;
        }

        .product-images img {
            width: 100%;
            cursor: pointer;
            display: block;
        }

        .product-details {
            flex: 2;
        }

        

        .product-price {
            font-size: 28px;
            color: var(--naranja);
            margin: 10px 0;
        }

        .product-description {
            margin: 20px 0;
        }

        .product-description p {
            color: var(--azul);
        }

        .right-section {
            width: 100%;
            /* display: flex;
            flex-direction: column;
            justify-content: left; */
        }

        .right-section .buy-section {
            /* padding: 20px; */
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            background-color: var(--blanco);
        }

        .quantity-section {
            margin-bottom: 20px;
        }

        .quantity-label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: var(--naranja);
        }

        .quantity-input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }

        .units-available {
            font-size: 14px;
            color: var(--plata);
            margin-bottom: 15px;
        }

        .buy-button,
        .add-cart-button {
            display: block;
            width: 100%;
            padding: 15px;
            text-align: center;
            background-color: var(--naranja);
            color: var(--blanco);
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .add-cart-button {
            background-color: var(--azul);
            color: var(--blanco);
        }

        .comments-section,
        .related-products-section {
            max-width: 1200px;
            margin: 20px auto;
            background-color: var(--blanco);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 1rem;
        }

       
        .related-products {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .related-product {
            background-color: #ffffff;
            flex: 1 1 calc(33.333% - 20px);
            padding: 15px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }

        .related-product-title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .related-product-price {
            font-size: 16px;
            color: #00a650;
            margin-bottom: 10px;
        }

        .related-product-description {
            font-size: 14px;
            color: #555;
        }

        .rating-section {
            margin-bottom: 20px;
        }

        .rating-label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: var(--azul);
        }

        .star-rating {
            display: flex;
            gap: 5px;
        }

        .star {
            font-size: 24px;
            cursor: pointer;
            color: #ccc;
        }

        .star.selected {
            color: #ffcc00;
        }

        .comment-textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .submit-comment-button {
            display: block;
            width: 100%;
            padding: 10px;
            text-align: center;
            background-color: var(--naranja);
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
        }

        .related-products {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 20px;
        }

        .related-product {
            flex: 0 0 calc(33.333% - 20px);
            background-color: #ffffff;
            padding: 15px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .related-product img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .related-product-title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .related-product-price {
            font-size: 16px;
            color: #00a650;
            margin-bottom: 10px;
        }

        .related-product-description {
            font-size: 14px;
            color: #555;
            margin-bottom: 10px;
        }

        .related-product-discount {
            font-size: 14px;
            color: #ff0000;
            margin-bottom: 5px;
        }

        .related-product-installments {
            font-size: 14px;
            color: #555;
            margin-bottom: 5px;
        }

        .related-product-shipping {
            font-size: 14px;
            color: #00a650;
        }

        h1 {
            color: var(--azul);
        }

        li {
            color: var(--azul);
        }

        p {
            color: var(--azul);
        }

        h2 {
            color: var(--azul);
        }

