.cont-boton {
  display: flex;
  justify-content: left;
  padding: 1.6rem;
  width: 30rem;
}


table {
  padding: 2rem;
  width: 100%;
  color: var(--azul);
  border-collapse: separate; /* Evita que los bordes de las celdas se unan */
  border-spacing: 0; /* Asegura que no haya espacio entre las celdas */
  border-radius: .8rem; /* Ajusta el radio de borde */
  overflow: hidden; /* Hace que el borde sea visible */
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid var(--naranja);
}

td img {
  width: 35rem;
  height: 18rem;
}

th {
  background-color: var(--naranja);
  color: var(--blanco);
}


#col-acciones {
  width: 27rem;
}

.btns-c {
  display: flex;
}